<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	{{!-- <meta name="viewport" content="width=device-width,initial-scale=1"> --}}
	<title>Oh Hamburgers</title>
	<link rel="stylesheet" href="/assets/css/bootstrap4.min.css">
	<link rel="stylesheet" href="/assets/css/main.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Averia+Sans+Libre">
</head>

<body class="grid">

	{{{body}}}

	<script src="/assets/js/jquery.min.js"></script>
	<script src="/assets/js/bootstrap.min.js"></script>
</body>

</html>